@import "~/styles/globals.scss";

.wrapper {
  background-color: $background;
  min-height: 100vh;

  .nft-card-col {
    margin-bottom: 28px;
  }

  .selection-table {
    border: 0.5px solid $border;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 24px;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }

    .label {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: white;
    }

    .value {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      text-align: right;
      color: #ffffff;
    }

    .bordered {
      border-bottom: 0.5px solid $border;
    }

    .inner-table {
      padding-top: 24px;
      border-bottom: 0.5px solid $border;
    }

    .btn-row {
      padding-top: 20px;
    }
  }

  .search-div {
    position: relative;
    background: rgba(50, 39, 145, 0.3);
    border: 0.5px solid #322791;
    border-radius: 10px;
    width: fit-content;
    align-items: center;
    display: flex;
    padding: 4px 12px;
    .searchbar {
      width: 300px;
      background-color: transparent;
      border: 0;
    }
    .Vector {
      position: absolute;
    }
  }

  .select-all {
    display: flex;
    margin-left: 20px;
  }

  .page-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 20px;
  }

  .label-rec {
    color: #6d8bd5;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    padding-left: 35px;
  }
}
